<%= @game.player2.name %> was attacked by <%= @game.player1.name %>
<br>
<%= @game.player2.name %>'s HP: <%= @game.player2.hit_points %>
<br>
<%= @game.switch_turn.name %>'s turn
<br>
<form action = /attack-again method = post>
  <input type = "submit" value = "Attack <%= @game.player1.name %>!">
</form>
