<%= @game.player1.name %> vs <%= @game.player2.name %>
<br>
<br>
<%= @game.player1.name %>'s HP: <%= @game.player1.hit_points %>
<br>
<%= @game.player2.name %>'s HP: <%= @game.player2.hit_points %>
<br>
<br>
<%= @game.turn.name %>'s turn
<br>
<br>
<form action = /attack-result method = post>
  <input type = "submit" value = "Attack <%= @game.not_turn.name %>!">
</form>
<form action = /attack-result method = post>
  <input type = "submit" value = "Kick <%= @game.not_turn.name %>!">
</form>
<% if @game.turn.paralyse == 0 %>
  <form action = /attack-paralyse method = post>
    <input type = "submit" value = "Paralyse <%= @game.not_turn.name %>!">
  </form>
<% else %>
  Paralyse can only be used once per game.
<% end %>
