<%= @game.player1.name %> vs <%= @game.player2.name %>
<br>
<%= @game.player2.name %>'s HP: <%= @game.player1.hit_points %>
<br>
<%= @game.turn.name %>'s turn
<br>
<form action = /attack-result method = post>
  <input type = "submit" value = "Attack <%= @game.player2.name %>!">
</form>
